#jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 25rem;
    width: 100%;
}

#main-top {
    background-color: $darken-color;

    .container {
        color: $main-color;
        font-weight: 600;
        padding: 3.125rem 0;
        position: relative;
        text-transform: uppercase;

        .label {
            background-color: $brand-color;
            left: 0;
            padding: .625rem 1.25rem;
            position: absolute;
            top: -1.5625rem;

            h2 {
                font-size: 1.875rem;
                margin: 0;
            }
        }
        
        .comics {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .comic {
                margin: .625rem;
                width: 11.875rem;

                .image {
                    aspect-ratio: 1;
                    width: 100%;
                }

                h3 {
                    font-size: .875rem;
                }
            }

        }
    }
}

#main-bottom {
    background-color: $brand-color;

    .container {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 3.125rem 0;

        .button {
            align-items: center;
            display: flex;
            margin: 0 1.5625rem;

            .image {
                margin-right: .625rem;
                width: $shop-icons;

                img {
                    max-height: $shop-icons;
                    object-fit: contain;
                }
            }

            .text {
                text-transform: uppercase;

                a {
                    color: $main-color;
                }
            }
        }
    }
}