#footer-top {
    background: url(../img/dc-logo-bg.png) center right 20% no-repeat, url(../img/footer-bg.jpg) left top no-repeat;
    background-size: auto, cover;

    .container {
        display: flex;
        padding: 1.875rem 0;

        .column {
            margin-right: 1.25rem;

            h3 {
                color: $main-color;
                text-transform: uppercase;
            }

            ul {
                margin: .625rem 0;

                li {
                    font-size: .875rem;
                    margin: .3125rem 0;

                    a {
                        color: $darken-text-color;
                    }
                }
            }
        }
    }
}

#footer-bottom {
    background-color: $dark-color;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 0;

        button {
            background-color: transparent;
            border: .125rem solid $brand-color;
            color: $main-color;
            cursor: pointer;
            font-family: inherit;
            font-size: inherit;
            padding: .625rem;
            text-transform: uppercase;
        }

        #socials {
            align-items: center;
            display: flex;
        
            h3 {
                color: $brand-color;
                margin-right: .3125rem;
                text-transform: uppercase;
            }
        
            .buttons {
                display: flex;
        
                .button {
                    aspect-ratio: 1;
                    margin-left: .9375rem;
                    width: 1.875rem;
                }
            }
        }
    }
}