header {
    text-transform: uppercase;

    #top-header {
        color: $main-color;
        font-size: .875rem;
        padding: .1875rem 0;

        .container {
            align-items: center;
            display: flex;
            justify-content: flex-end;

            * {
                margin-left: 3.75rem;
            }
        }
    }
    
    #bottom-header {
        background-color: $main-color;
        
        .container {
            align-items: center;
            display: flex;
            justify-content: space-between;

            #logo {
                aspect-ratio: 1;
                width: 5rem;
            }
        
            #navbar {
                ul {
                    align-items: center;
                    display: flex;
                
                    li {
                        margin-left: 1.875rem;
                
                        a {
                            border-bottom: $navbar-border solid transparent;
                            color: $darken-color;
                            display: inline-block;
                            font-weight: 600;
                            line-height: 7.5rem;
                
                            &.active,
                            &:hover {
                                border-bottom: $navbar-border solid $brand-color;
                                color: $brand-color;
                            }
                        }
                    }
                }
            }
        }
    }
}