// Colors
$brand-color: #0282f9;
$brand-color-dark: #003f5e;
$brand-color-light: #00a9d9;
$darken-color: #1e1e1e;
$dark-color: #303030;
$darken-text-color: #787878;
$main-color: #ffffff;

// Sizes
$navbar-border: .3125rem;
$shop-icons: 3.4375rem;